# Ambientes Virtuais Python
.venv/
venv/
ENV/
env/

# Caches e arquivos compilados
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Distribuição e builds
build/
dist/
*.egg-info/

# IDEs e Editores
.vscode/
.idea/
*.swp
*.swo

# Sistema Operacional
.DS_Store
Thumbs.db
